<!Doctype html>
<html>
 <head>
   <title> Physician Home </title>
     {% load static %}
   <link rel="stylesheet" href="{% static 'trajan/header.css' %}" />
   <link rel="stylesheet" href="{% static 'trajan/physicianHome.css' %}" />
 </head>

 <body>
   <nav>
     <ul class="nav">
       <li><a href="#">Physician Home</a></li>
     </ul>
   </nav>

   <h1>Physician Home</h1>
   <div id ="board" class="grid-container">
          <script>
          var time = 7;
          for(x=0; x<10;x++)
          {
            var board = document.createElement('div');
            board.className = "grid-item";


            //Set the left hand column to the time
            if(x%2==0)
            {
              time = time+1;

              if(time>12)
              {
                time = 1;
              }
              board.innerText = time+':00'
            }
            //Set the middle column to patient name
            if(x%2==1)
            {
              //get the patient name..
              board.innerText = "Yo Mamma"
            }


            document.getElementById('board').appendChild(board);
          }
          </script>

     </div>


 </body>
</html>
