body{
  height: 100%;
  background-color: white;
}
.layout{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
}
.pageLayout{
  height: 90%;
  list-style-type: none;
  background-color: white;

}
.topPage{
  list-style-type: none;
  background-color: #000066;
  width: 90%;
  display: inline-block;
}
/*.topPage li{
  display: inline-block;

}*/
.HIPPAinfo{
  color: white;
}

.Views{
  position: absolute;
  display: inline-block;
  height: 60%;
  width: 90%;
  background-color: white;

}
.Views li{
  display: inline-block;

}
.dropin{
  margin-left: 2%;
  height: 96%;
  width: 25%;
  text-align: center;
  padding-top: 2%;
  color: white;

}
#historyV{
  background-color: #000066;
  padding-left: 2%;
  padding-right: 2%;
}
#LastVisitV{
  background-color: #000066;
  padding-left: 2%;
  padding-right: 2%;
}
#NextVisitV{
  background-color: #000066;
  padding-left: 2%;
  padding-right: 2%;
}
